@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-100: #8e9487;
  --base-300: #9381ff;
  --base-400: #f0c808;
  --base-500: #bc4749;
  --base-600: #c2c1c2;
}

@theme inline {
  --font-sans: var(--font-roboto);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}
